/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 575.98px) {
    /*body {
      background: pink;
    }*/

    .navbar-nav{
        background-color: var(--custom-gray);
        margin-top: 10px;
        border-radius: 20px;
    }

    .navbar-nav .nav-link {
        color: var(--custom-orange);
        font-size: 0.9em;
        margin: 0;
    }

    img.egg-link{
        width: 35px;
        margin: 0;
        margin-left: 15px;
    }

    img.profile-img{
        width: 200px;
    }

    p, p.project-text{
        font-size: 0.85em;
    }

    .section-title{
        font-size: 1.8em;
    }

    img.egg-section{
        width: 30px;
        bottom: 10px;
    }

    div.skill-lvl-full, div.skill-lvl-empty {
        width: 17.5%;
        height: 10px;
    }

    h6{
        font-size: 0.9em;
    }

    h6.project-title{
        font-size: 1.1em;
    }
    
    h6.project-institution{
        font-size: 1em;
    }

    .custom-form{
        padding: 14px;
        font-size: 0.85em;
    }
}

/*Small devices (landscape phones)*/
@media (min-width: 576px) and (max-width: 767.98px){
    /*body {
      background: red;
    }*/

    .navbar-nav{
        background-color: var(--custom-gray);
        margin-top: 10px;
        border-radius: 20px;
    }

    .navbar-nav .nav-link {
        color: var(--custom-orange);
        font-size: 1.5em;
        margin: 0;
    }

    p{
        font-size: 1.1em;
    }

    div.skill-lvl-full, div.skill-lvl-empty {
        width: 18.48%;
        height: 12px;
    }

    .custom-form{
        padding: 20px;
    }
}

/*Medium devices (tablets, 768px e superior)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*body {
      background: blue;
    }*/
    .navbar-nav .nav-link {
        font-size: 1.4em;
        margin: 5px 10px 5px 10px;
    }

    p{
        font-size: 1.2em;
    }

    div.skill-lvl-full, div.skill-lvl-empty {
        width: 18.9%;
        height: 15px;
    }

    .custom-form{
        padding: 20px;
    }
}

/*Large devices (desktops, 992px e superior)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*body {
      background: yellow;
    }*/
    .navbar-nav .nav-link {
        font-size: 1.6em;
        margin: 5px 50px 5px 50px;
    }

    .custom-form{
        padding: 40px;
    }
}

/*Extra large devices (large desktops, 1200px e superior)*/
@media (min-width: 1200px) {
    /*body {
      background: gray;
    }*/

    .navbar-nav .nav-link {
        font-size: 1.6em;
        margin: 5px 80px 5px 80px;
    }

    p{
        font-size: 1.5em;
    }
}