/*** Global Variables ***/
:root {
    --custom-gray: #454545;
    --custom-white: #fffbf5;
    --custom-orange: #F8B756;
}


/*** Base Customization ***/
html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
}

button:focus {
    outline: none;
}
/*** General customization classes ****/
.flip-left{
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

/*** Specific customization classes ***/

/* Header decoration icons */
div.decoration-area img.bird,
div.decoration-area img.dino,
div.decoration-area img.egg{
    position: relative;
}

div.decoration-area img.bird{
    top: 39px;
    left: 30px;
    z-index: 1;
}

div.decoration-area img.dino{
    top: 31px;
    right: 30px;
}

div.decoration-area img.egg{
    top: 52px;
    right: 15px;
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
}

/* Navbar customization */
nav.navbar-orange{
    background-color: var(--custom-orange);
}

div.custom-navbar ul li a{
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 15px 55px 15px 55px;
}

a.nav-link{
    color: var(--custom-gray);
}

img.egg-link{
    position: relative; 
    top: 40px;
    left: 15px;
}