/***************________GLOBAL________***************/

body {
    font-family: Liberation, Arial, Helvetica, sans-serif;
    background-color: #211f1f;
}

/***************________NAVBAR________***************/
.navbar-custom{
    background-color: #211f1f;
}

/* TOGGLE BUTTON */
.toggle-icon {
    font-size: 1.65em;
    color: #de932a;
}

/* NAVBAR LINK */
.navbar-nav .nav-link {
    color: #de932a;
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 45px 10px 45px;
}

.navbar-nav .nav-link:hover, .navbar-nav .active-link{
    color: #ffc16b;
    font-weight: 900;
}

/***************________RESUME________***************/

/* PROFILE IMAGE */
.img-profile {
    border-radius: 50%;
    border: 4px solid #de932a;
}

.custom-text, .custom-text-2 {
    color: #de932a;
    font-size: 1.3em;
}

.custom-text-2 {
    font-size: 1.2em;
    text-align: right;
}

.text-hl {
    color: #ffc16b;
    font-weight: bold;
}

/***************________CONTENT________**************/
.bg-orange {
    background-color: #de932a;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}

p.content {
    font-size: 1.3em;
    text-align: justify;
}


/***************________FOOTER________***************/

/* ICONS */
.footer-icon {
    font-size: 2.5em;
    color: #de932a;
    margin: 0 50px 0 50px;
}

.footer-icon:hover {
    color: #ffc16b;
}

/**Customização carousel**/
.carousel-text {
    color: black;
}

































/*Estilo para dispositivos pequenos*/
@media (max-width: 575.98px) {
    /***************________NAVBAR________***************/


    /* NAVBAR LINK */
    .navbar-nav .nav-link {
        font-size: 1em;
        margin: 0;
        margin-left: 60px;
    }

    /* NAVBAR FIRST LINK */
    .navbar-nav .nav-item-1 {
        margin-top: 25px;
    }

    /***************________RESUME________***************/

    .custom-text {
        font-size: 1em;
    }

    .text-hl {
        color: #ffc16b;
        font-weight: bold;
    }
}


/*Estilo para dispositivos médios*/
@media (min-width: 576px) and (max-width: 767.98px){
    /***************________NAVBAR________***************/
    
    /* NAVBAR LINK */
    .navbar-nav .nav-link {
        font-size: 17px;
        margin: 10px 35px 10px 35px;
    }
}


  /*
  

  @media (min-width: 768px) and (max-width: 991.98px) {
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
  }

  @media (min-width: 1200px) {
  }
  */

/***************________FONTS________****************/
@font-face{
    font-family: Liberation;
    src: url("../src/fonts/LiberationSans-Regular.woff");
}


/*************________ANIMATIONS________*************/