body {
    background-color: #333131;
}

/******Customização da barra de navegação*******/
.navbar-custom {
    background-color: #211f1f;
    color: #d5c0ae;
}


/**Customização dos itens do menu de navegação**/
.toggle-icon {
    font-size: 1.5em;
    color: #de932a;
}

/*Item da navbar*/
.navbar-nav .nav-item {
    margin: 10px 45px 10px 45px;
}

/*Links na navbar*/
.navbar-nav .nav-link {
    font-size: 1.4em;
    color: #de932a;
}
.navbar-nav .nav-link:hover {
    color: #ffc16b;
    font-weight: 600;
}

.active-link {
    color: #ffc16b;
    font-weight: 600;
    text-decoration: underline;
}

/**Customização da foto de perfil**/
.img-profile {
    width: 300px;
}

/**Customaização do rodapé**/
footer {
    background-color: #211f1f;
    color: #d5c0ae;
}

/**Customização carousel**/
.carousel-text {
    color: black;
}



/*Estilo para dispositivos pequenos*/
@media (max-width: 575.98px) {
    /*Item da navbar*/
    .navbar-nav .nav-item {
        margin: 0;
        margin-left: 10px;
    }

    .navbar-nav .nav-item-1 {
        margin-top: 25px;
    }

    /*Links na navbar*/
    .navbar-nav .nav-link {
        font-size: 1em;
    }

    .img-profile {
        width: 200px;
    }
}

/*Estilo para dispositivos médios*/
@media (min-width: 576px) and (max-width: 767.98px){
    /*Item da navbar*/
    .navbar-nav .nav-item {
        margin: 0;
        margin-left: 10px;
    }

    /*Links na navbar*/
    .navbar-nav .nav-link {
        font-size: 1.4em;
    }
}





  /*
  

  @media (min-width: 768px) and (max-width: 991.98px) {
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
  }

  @media (min-width: 1200px) {
  }
  */