/***************** VARIABLES ****************/
:root {
    --custom-gray: #454545;
    --custom-white: #fffbf5;
    --custom-orange: #F8B756;
}
/********************************************/



/*************** GLOBAL STYLE ***************/
body {
    font-family: 'Roboto';
    color: var(--custom-white);
    background-color: var(--custom-gray);
}
/********************************************/



/******************* ICONS ******************/
div.header-decoration{
    height: 73px;
}

img.bird-icon, img.header-dino-icon, img.header-egg-icon{
    position: relative;
}

img.bird-icon {
    width: 96px;
    z-index: 1;
    top: 16px;
    left: 30px;
}

img.header-dino-icon {
    width: 65px;
    top: 8px;
    right: 30px;
}

img.header-egg-icon{
    width: 45px;
    top: 28px;
    right: 15px;
    transform: rotate(35deg);
}

img.egg-link{
    width: 35px;
    margin: 10px 3px 10px 65px;
}
/********************************************/



/****************** NAVBAR ******************/
nav.navbar-custom{
    color: var(--custom-white);
    background-color: var(--custom-orange);
}

.navbar-nav .nav-link {
    color: var(--custom-gray);
    text-transform: uppercase;
    font-size: 1.5em;

    margin: 5px 20px 5px 20px;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
}
/********************************************/







/********* BOOTSTRAP CUSTOMIZATION **********/
.navbar-toggler {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: .50rem;
}
/********************************************/